{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "max-len": ["warn", 120],
        "indent": ["error", 4],
        "space-infix-ops": "off",
        "object-curly-spacing": "off",
        "keyword-spacing": "off",
        "block-spacing": "off",
        "quotes": "off",
        "arrow-parens": "off",
        "prefer-const": "off",
        "object-property-newline": "off",
        "no-else-return": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-space-before-closing": "off",
        "react/jsx-indent": ["error", 4],
        "import/no-extraneous-dependencies": "off"
    }
}
